{{ define "content" }}
<div class="container">
  <form
          enctype="multipart/form-data"
          action="http://localhost:8080/overrides"
          method="post"
  >
    {{ range $tt := $.TransformTypes }}
    <div class="row">
      <div class="col">
        <h2>{{ .String }}</h2>
      </div>
      <div class="col">
        <input class="form-control form-control-lg" id="myFile" name="files-{{.Int}}" type="file" multiple>
      </div>

    </div>
    {{ end }}

    <input type="submit" class="btn btn-primary" value="upload" />
  </form>
</div>
{{ end }}
