{{ define "content" }}
<div class="p-2"></div>
<div class="container">
  <div class="row">
    <div class="col-3"><h4>Date</h4></div>
    <div class="col"><h4>Timestamp</h4></div>
    <div class="col-1"><h4>Src</h4></div>
    <div class="col-1"><h4>Coin</h4></div>
    <div class="col"><h4>Amount</h4></div>
    <div class="col-3"><h4>Transation Type</h4></div>
  </div>
  {{ range $t := .Transactions }}
    <div data-uid="{{ $t.UID }}" class="row border-top p-1 {{ if and (ne $t.OverridedType.Int 0) (ne $t.DetectedType.Int $t.OverridedType.Int) }} bg-overridden {{ else if and (.DetectedType.ShouldCheck) (eq $t.OverridedType.Int 0)  }}bg-check{{ end }}">
      <div class="col-3">{{ $t.Timestamp.Format "2006-1-2 15:04:05 MST" }}</div>
      <div class="col">{{ $t.Timestamp.Unix }}</div>
      <div class="col-1">{{ $t.Transformer }}</div>
      <div class="col-1">{{ $t.Currency }}</div>
      <div class="col">{{ $t.Amount }}</div>
      <div class="col-3">

        {{ if ne $t.OverridedType.Int 0 }}
          <select class="form-select form-select-sm override-transaction-type text-success">
            {{ range $tt := $.OverrideTransactionTypes }}
                <option {{ if eq .Int $t.OverridedType.Int }} selected {{ end }} value={{ .Int }} >{{ .String }}</option>
            {{ end }}
          </select>
          {{ if ne $t.OverridedType $t.DetectedType }} <code>Detected: {{ $t.DetectedType }}</code> <br/> {{ end }}
        {{ else }}
          <select class="form-select form-select-sm override-transaction-type">
            {{ range $tt := $.OverrideTransactionTypes }}
            <option {{ if eq .Int $t.DetectedType.Int }} selected {{ end }} value={{ .Int }} >{{ .String }}</option>
            {{ end }}
          </select>
        {{ end }}
      </div>
    </div>
  {{ end }}
  <a id="calculate" class="btn btn-primary">Calculate</a>
</div>

<div class="modal" tabindex="-1" role="dialog" id="result-modal">
  <div class="modal-dialog modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calculations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="result" class="container-fluid"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-check {
    background-color: #ffe5d0;
  }
  .bg-overridden {
    background-color: #e8ffd0;
  }
</style>
<script>
  var transactions = JSON.parse({{.TransactionsJSON}})

  $(".row").on('click', function(e){
    $(this).removeClass('bg-check')
  })

  $('select').on('change', function(e){
    let row = $(this).closest('.row')
    let uid = $(row).attr("data-uid")
    let val = $(this).val()
    let that = this
    $.each(transactions, function(key, t) {
      if (t.UID === uid) {
        transactions[key].OverridedType = parseInt(val)

        $(that).addClass('text-success')

        if (transactions[key].OverridedType === transactions[key].DetectedType) {
          $(row).removeClass('bg-overridden')
        } else {
          $(row).addClass('bg-overridden')
        }
        override(t)
        return false
      }
    })
  })

  function override(transaction) {
    $.ajax({
      url: "/overrides/override",
      type: "POST",
      data: JSON.stringify({
        "uid": transaction.UID,
        "overrided_type": transaction.OverridedType,
      }),
      contentType: "application/json",
      error: function(xhr, status, error) {
        // Handle the error
        console.error(error)
      }
    })
  }

  $("#calculate").on("click", function(e){
    $.ajax({
      url: "/taxpacks",
      type: "POST",
      data: JSON.stringify(transactions),
      contentType: "application/json",
      success: function(response) {
        $('#result-modal').modal('show')
        $("#result").html(response)

        console.log(response)
      },
      error: function(xhr, status, error) {
        // Handle the error
        console.error(error)
      }
    })
  })
</script>
{{ end }}