{{ define "content" }}
<div class="container">
  {{ range $t := .Transactions }}
    <div class="row border-top p-1 {{ if .DetectedType.ShouldCheck }}bg-check{{ end }}">
      <div class="col">{{ $t.Timestamp }}</div>
      <div class="col">{{ $t.Currency }}</div>
      <div class="col">{{ $t.Amount }}</div>
      <div class="col">
        <select name="OverrideType?" class="form-select form-select-sm">
          {{ range $tt := $.OverrideTransactionTypes }}
            <option {{ if eq .Int $t.DetectedType.Int }} selected {{ end }} value={{ .Int }} >{{ .String }}</option>
          {{ end }}
        </select>
      </div>
    </div>
  {{ end }}
</div>
<style>
  .bg-check {
    background-color: #ffe5d0;
  }
</style>
<script>
  $(".row").on('click', function(e){
    $(this).removeClass('bg-check')
  })
</script>
{{ end }}