{{ define "content" }}
<div class="container">
  <div id="result"></div>
</div>
<div class="container">
  {{ range $t := .Transactions }}
    <div data-uid="{{ $t.UID }}" class="row border-top p-1 {{ if .DetectedType.ShouldCheck }}bg-check{{ end }}">
      <div class="col">{{ $t.Timestamp }}</div>
      <div class="col">{{ $t.Transformer }}</div>
      <div class="col">{{ $t.Currency }}</div>
      <div class="col">{{ $t.Amount }}</div>
      <div class="col">
        <select class="form-select form-select-sm">
          {{ range $tt := $.OverrideTransactionTypes }}
            <option {{ if eq .Int $t.DetectedType.Int }} selected {{ end }} value={{ .Int }} >{{ .String }}</option>
          {{ end }}
        </select>
      </div>
    </div>
  {{ end }}
  <a id="calculate" class="btn btn-primary">Calculate</a>
</div>
<style>
  .bg-check {
    background-color: #ffe5d0;
  }
</style>
<script>
  var transactions = JSON.parse({{.TransactionsJSON}})

  $(".row").on('click', function(e){
    $(this).removeClass('bg-check')
  })

  $('select').on('change', function(e){
    let uid = $(this).closest('.row').attr("data-uid")
    let val = $(this).val()
    $.each(transactions, function(key, t) {
      if (t.UID == uid) {
        transactions[key].OverridedType = parseInt(val)
        return false
      }
    })
  })

  $("#calculate").on("click", function(e){
    $.ajax({
      url: "/ajax/calculate",
      type: "POST",
      data: JSON.stringify(transactions),
      contentType: "application/json",
      success: function(response) {
        $("#result").html(JSON.stringify(response))
        // Handle the response from the server
        console.log(response);
      },
      error: function(xhr, status, error) {
        // Handle the error
        console.error(error);
      }
    })
  })
</script>
{{ end }}